@import "../settings.css";

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + #sidebar-splitter {
  display: none !important;
}

/* Collapse sidebar */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
    z-index: 1 !important;
    position: relative !important;
    transition: all var(--sidebar-hover-time) cubic-bezier(0.22, 1, 0.36, 1);
    min-width: var(--sidebar-collapsed-width) !important;
    max-width: var(--sidebar-collapsed-width) !important;
    border-right: 1px solid var(--chrome-content-separator-color) !important;
}

/* Expand sidebar on hover */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover #sidebar {
    min-width: var(--sidebar-expanded-width) !important;
    max-width: var(--sidebar-expanded-width) !important;
    margin-right: calc(var(--sidebar-collapsed-width) - var(--sidebar-expanded-width)) !important;
}
